<!DOCTYPE html>
<html>
<head>
    <div>
        <a href="/books" class="button center">Books</a>
        <a href="/borrowers" class="button center">Borrowers</a>
    </div>
    <title>Library records</title>
</head>
<body>
<!-- begin inner template-->
<div class="container">
    #parse( $template )
</div>
<!-- end inner template-->

</body>
</html>